* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: rgb(49, 49, 49);
    padding: 16px 0;
    color: aliceblue;
}

header .conteiner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: aliceblue;
    text-decoration: none;
}

.conteiner {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /* height: 180px; */
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color:blue;
    color: rgb(255, 255, 255);
    padding: 8px;
    display:inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#sports {
    background-color: rgba(0, 255, 0, 0.1);
}

#sports .articles article a {
    background-color: rgb(7, 95, 19);
}

#economy {
    background-color: rgb(255, 241, 161);
}

#economy .articles article a {
    background-color: rgb(236, 138, 18);
}

#entretenimento {
    background-color: hsla(271, 76%, 53%, 0.336);
}

#entretenimento .articles article a {
    background-color: rgb(87, 14, 156);
}

#tecnologia {
    background-color: rgba(0, 0, 255, 0.288);
}

#tecnologia .articles article a {
    background-color: blue;
}